<nav id="secondary">
	<ul>
		<li><a href="javascript:;" title="Build" data-ng-click="show('build')" data-ng-style="{ 'color': colours.color }">Build</a></li>
		<li><a href="http://twitter.com/lukeburroughs" title="See my Twitter" target="_blank" data-ng-style="{ 'color': colours.color }">Twitter</a></li>
		<li><a href="http://makewithfeeling.tumblr.com" title="See my Tumblr" target="_blank" data-ng-style="{ 'color': colours.color }">Tumblr</a></li>
		<li><a href="mailto:luke.burroughs@btinternet.com" title="Drop me a message" target="_blank" data-ng-style="{ 'color': colours.color }">Email</a></li>
	</ul>
</nav>