<div class="page page-manifesto overlay">
	<div class="content">

		<div class="overlay-links">
			<a href="javascript:void(0);" class="close"></a>
			<a href="javascript:void(0);" id="build">Build</a>
			<a href="javascript:void(0);" class="active">Manifesto</a>
		</div>

		<h1>Make with feeling&trade;</h1>
		<div>
			<div class="column first">
				<p><strong>I'm fascinated with consumerism. It finds its way into everything I make.</strong></p>
			</div>
			<div class="column">
				<h2>The Work</h2>
				<div>
					<p>Whether its culture, fashion, lifestyles, media, technology or even peoples words and actions, we are all consumers. As a designer,
					I feel that I have a responsibility to respond to this.</p>
					<p>Through visual means, sampling, remixing, criticizing, sympathizing, experimenting, I want to produce work that is both critical,
					challenging and relevant to today's culture.</p>
				</div>
			</div>
			<div class="column">
				<h2>About Luke</h2>
				<div>
					<p>I come from a print background. I studied BA Design for Publishing at NUA, and moved onto MA Communication Design where I discovered
					that Fine art techniques and a critical edge both enabled me to grow creatively and helped push my ideas.</p>
					<p>I am currently a digital designer at Selesti, working in Norwich with a multitude of clients on web, tablet and mobile platforms.</p>
				</div>
			</div>
			<div class="column last">
				<h2>History</h2>
				<div>
					<p>
						<span class="date-range">(2013-Present)</span><br />
						Digital Designer, Selesti
					</p>
					<p>
						<span class="date-range">(2011-2013)</span><br />
						MA Communication Design, NUA
					</p>
					<p>
						<span class="date-range">(2008-2011)</span><br />
						BA Design For Publishing, NUA
					</p>
				</div>
			</div>
		</div>

	</div>
</div>