<nav id="primary" data-ng-controller="navController">
	<ul>
		<li><a href="#" title="Go to home page" data-ng-style="{ 'color': colours.color }">Luke Burroughs</a></li>
		<li data-ng-show="projects.length">
			<a href="javascript:;" title="Show projects" class="expand" data-ng-class="{ 'expanded': showProjectList }" data-ng-click="showProjectList = !showProjectList" data-ng-style="{ 'color': colours.color }">Projects</a>
			<ul class="projects slide-toggle" data-ng-class="{ 'slide-toggle': !showProjectList }">
				<li data-ng-repeat="project in projects" data-project="{{ project.id }}">
					<a data-ng-href="#/project/{{ project.id }}" title="View {{ project.name }}" data-ng-show="!$parent.project || $parent.listAllProjects" data-ng-click="$parent.listAllProjects = false" data-ng-style="{ 'color': colours.color }">
						<sup>{{ $index + 1 | padNumber: 3 }}</sup>{{ project.name }}
					</a>
					<div class="project" data-ng-show="$parent.project === project && !$parent.listAllProjects">
						<sup>{{ $index + 1 | padNumber: 3 }}</sup>{{ project.name }}
						<a href="javascript:;" class="arrow-left" title="Back to projects" data-ng-click="$parent.listAllProjects = true" data-ng-style="{ 'color': colours.color }">L</a>
						<div>{{ project.subtitle }}</div>
					</div>
				</li>
			</ul>
		</li>
		<li><a href="javascript:;" title="Manifesto" data-ng-click="show('manifesto')" data-ng-show="!project || listAllProjects" data-ng-style="{ 'color': colours.color }">Manifesto</a></li>
		<li><a href="javascript:;" title="Get in touch" data-ng-click="show('contact')" data-ng-show="!project || listAllProjects" data-ng-style="{ 'color': colours.color }">Get In Touch</a></li>
	</ul>
</nav>