<h1 class="hide-text">Get In Touch</h1>
<div data-ng-controller="contactFormController">
	<form name="contactForm">
		<div class="column first">
			<input type="text" placeholder="What's Your Name?" required data-ng-model="contact.name" />
		</div>
		<div class="column">
			<input type="text" placeholder="How Can I Reach You?" required data-ng-model="contact.details" />
		</div>
		<div class="message">
			<textarea name="message" placeholder="{{ messagePlaceholder }}" required data-ng-model="contact.message"></textarea>
		</div>
		<span class="submit">
			<input type="submit" value="Send" data-ng-click="send( contact )" />
		</span>
	</form>
</div>