<h1>Make with feeling&trade;</h1>
<div>
	<div class="column first">
		<p><strong>Welcome to your world; won’t you please come in?</strong></p>
	</div>
	<div class="column">
		<h2>This Work</h2>
		<div>
			<p>We are all consumers, be it of human behaviour,  lifestyle, fashion, the arts or technology. We have a responsibility to respond to this.</p>
			<p>Through visual means; sampling, remixing, criticising, sympathising, experimenting, the work aims to be critical,
			challenging and relevant to today's culture.</p>
		</div>
	</div>
	<div class="column">
		<h2>About Luke</h2>
		<div>
			<p>From a print background; achieving a BA in Design for Publishing at NUA and a Masters degree in Communication Design. During that time, fine art techniques and a critical edge began to influence the work.</p>
			<p>Currently employed by Selesti, of Norwich, England as their Digital Designer with a multitude of clients on web, tablet and mobile platforms.</p>
		</div>
	</div>
	<div class="column last">
		<h2>History</h2>
		<div>
			<p>
				<span class="date-range">(2013-Present)</span><br />
				Digital Designer, Selesti
			</p>
			<p>
				<span class="date-range">(2011-2013)</span><br />
				MA Communication Design, NUA
			</p>
			<p>
				<span class="date-range">(2008-2011)</span><br />
				BA Design For Publishing, NUA
			</p>
		</div>
	</div>
</div>
