<h1>Make with feeling&trade;</h1>
<div>
	<div class="column first">
		<p><strong>I'm fascinated with consumerism. It fits into everything I make.</strong></p>
	</div>
	<div class="column">
		<h2>The Work</h2>
		<div>
			<p>Whether it''s culture, fashion, lifestyles, media, technology or even people's words and actions, we are all consumers. As a designer,
			I feel that I have a responsibility to respond to this.</p>
			<p>Through visual means, sampling, remixing, criticising, sympathising, experimenting, I want to produce work that is critical,
			challenging and relevant to today's culture.</p>
		</div>
	</div>
	<div class="column">
		<h2>About Luke</h2>
		<div>
			<p>From a print background; achieving a BA in Design for Publishing at NUA, I then moved onto study Communication Design at MA level. During this time, I discovered that fine art techniques and a critical edge enabled me to grow creatively and push my ideas further.</p>
			<p>I am currently working at Selesti in Norwich as a Digital Designer with a multitude of clients on web, tablet and mobile platforms.</p>
		</div>
	</div>
	<div class="column last">
		<h2>History</h2>
		<div>
			<p>
				<span class="date-range">(2013-Present)</span><br />
				Digital Designer, Selesti
			</p>
			<p>
				<span class="date-range">(2011-2013)</span><br />
				MA Communication Design, NUA
			</p>
			<p>
				<span class="date-range">(2008-2011)</span><br />
				BA Design For Publishing, NUA
			</p>
		</div>
	</div>
</div>
